<form action="<%= password_reset_create_session_url %>" method="post">
  <label>Email
    <input type="text" name="user[email]" value="">
  </label> <br>
  <input type="submit" value="Submit">
</form>