<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Be better at Friend-Circle-ing !</h1>
    <p>
      You have successfully generated a new pwd,
      your username is: <%= @user.email %>.<br/>
      your new password is <%= @password %>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>You tried.</p>
  </body>
</html>