<!DOCTYPE html>
<html>
<head>
  <title>FriendCircle</title>
</head>
<body>
<%= render partial: "layouts/errors" %>
<% if current_user %>
  <%= button_to "Log out", session_url, method: :delete %>
<% else %>
  <%= button_to "Log in", new_session_url, method: :get %>
<% end %>
<%= yield %>

</body>
</html>
